img.floating.display {
    position: absolute;
    bottom: 50px; /* Adjust this value as needed */
    right: 30px;
    z-index: 9999;
    pointer-events: none;
}

@media (max-width: 768px) {
    img.floating.display {
        right: 10px; /* Adjust this value as needed */
    }
}

