img.floating.display {
    position: fixed;
    right: -1690px;
    z-index: 9999; /* Adjust the z-index as needed */
    width: auto;
    height: auto;
    bottom: 50px;
    left: 1px;
    pointer-events: none;
}